#slider { 
    margin: 0 auto;
    overflow: hidden;
    width: 500px;
    height: 250px;
    position: relative;
}

#slider figure {
    position: relative;
    width: 1000%;
    left: 0;
    transition: all 1s linear;
    animation: 130s slider infinite;
}

#slider figure div {
    float: left;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-style: solid;
}

@keyframes slider {
    from{transform: translateX(0)}
    to{transform: translateX(-12000px)}
}

.heading-container {
    text-align: center;
}
.home-form {
    max-width: 400px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 5px; 
}

nav {
    background-color: #2e7930;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #7fd186;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 3px;
}

.form-submit {
    font-family: 'Times New Roman';
    background-color: #badef2;
    border: 2px solid #1f3f5e;
    border-radius: 30px;
    box-shadow: #1b3c5a 4px 4px 0 0;
    display: inline-block;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:active {
    background-color: #22363f;
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
